extends layout

block content
  h1= title
    form(action='/search')
      label(id='search-bar') Press enter to search:
      br
      input(type='search', placeholder='enter search text' name='term')
    p
      a.button(href='/books/new') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href='/books/' + book.id) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}

  br

  if pageNumber === 1
    a.button(href='/books/page/' + numberOfPages) Last page (#{numberOfPages}/#{numberOfPages})
    a.button(id='next-page' href='/books/page/' + (pageNumber + 1)) Next page (#{pageNumber + 1}/#{numberOfPages})
  else if pageNumber > 1 && pageNumber < numberOfPages
    a.button(href='/books/page/' + (pageNumber - 1)) Previous Page (#{pageNumber - 1}/#{numberOfPages})
    a.button(id='next-page' href='/books/page/' + (pageNumber + 1)) Next Page (#{pageNumber + 1}/#{numberOfPages})
  else if pageNumber === numberOfPages
    a.button(href='/books/page/' + (pageNumber - 1)) Previous Page (#{pageNumber - 1}/#{numberOfPages})
    a.button(id='home-page' href='/books/page/1') First Page (1/#{numberOfPages})